
.card {
    width: 100%;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.info {
    font-family: sans-serif;
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
    }
}
